body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f0f0f0;
	height: 100vh;
}
.div1 {
	border: 1px hidden #000000;
	background-color: #ffffff;
	height: 450px;
	width: 304px;
	padding: 25px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	text-align: center;
}
#div1 {
	background-color: #d5e1ef;
	border: 1px solid #d5e1ef;
	width: 100%;
	margin-left:10px;
	margin-right: 10px;
	margin-top: 80px;
	margin-bottom: 80px;
	padding: 50px;
}
img {
	margin-left: auto;
	margin-right: auto;
}
#text2 {
	margin-left: auto;
	margin-right: auto;
	width: 250px;
}
